

body {
	width: 80%;
	margin: 0 auto;
}

#logo {
	width: 50%;
	height: auto;
	margin: 25px auto;
}

#logo img {
	width: 100%;
}

.words {
	color: rgb(235,150,225);
	text-align: center;
	margin: 0 auto;
	padding: 25px 0;
	font-family: 'Bitter', serif;
	border-top: 3px solid rgb(235,150,225);
	width: 80%;
}

.section {

}

.code {
	font-family: 
}

